@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


:root {
  --primary: #12bca2;
  --secondary: #6d15df;
}
h1,h2,h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #333;
  font-family: 'Poppins';
  background: #f2f2f2;
}
nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  transition: 0.2s;
}
nav a:hover {
  color: var(--secondary);
}
nav h1 {
  color: #fff;
}
.flex-header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.description{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}
.login-form{
  margin: 0 10px;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

/* smoothie grid */
.smoothie-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.smoothie-card {
  width: 100%;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}
.smoothie-card .rating {
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--secondary);
  color: #fff;
  border-radius: 6px;
  width: 40px;
  height: 0;
  padding: 20px 0;
  line-height: 0px;
  text-align: center;
}
.smoothie-card .buttons {
  text-align: right;
}
.smoothie-card i {
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}

/* forms */
form {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}
form input, form textarea, form select {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 5px 0 30px 0;
}
form button {
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}
/* order-by buttons */
.order-by button {
  margin: 10px 5px;
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
}
.logo {
  font-size: 35px;
  color: var(--secondary);
}
.order-by span {
  margin: 0 15px;
}
.order-by p{
  font-weight: bold;
  display: inline;
}
.Pass, .Fail{
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--secondary);
  color: #fff;
  border-radius: 6px;
  width: 40px;
  height: 0;
  padding: 20px 0;
  line-height: 0px;
  text-align: center;
}
.Fail{
  color: #fff;
  background: rgb(220, 91, 91);
}
.Pass{
  background: limegreen;
}
.order-by-value {
  font-weight: bold;
  color: var(--secondary);

}

@media screen and (max-width: 768px) {
  .smoothie-grid {
    grid-template-columns: 1fr;
  }
}